:root {
    --text-fg: #333;
    --text-highlight: #55801c;
    --text-link: #6e1adc;
    --text-subtle: #838383;
    --text-quote: #252525;
    --background: #fff;
    --background-light: #F5F5F5;
}
