@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-fg: #000;
  --text-highlight: #659528;
  --text-link: #6e1adc;
  --background: #fff;
  --background-light: #f9f9f9;

  @media (prefers-color-scheme: dark) {
    --text-fg: #fff;
    --text-highlight: #0f0;
    --background: #101010;
    --background-light: #111;
  }
}

html, body {
  background: var(--background);
  color: var(--text-fg);
}