@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-fg: #333;
  --text-highlight: #55801c;
  --text-link: #6e1adc;
  --text-subtle: #838383;
  --text-quote: #252525;
  --background: #fff;
  --background-light: #F5F5F5;
  
  @media (prefers-color-scheme: dark) {
    --text-fg: #f0f0f0;
    --text-highlight: #659528;
    --text-link: #9497f8;
    --text-subtle: #a0a0a0;
    --text-quote: #dedede;
    --background: #101010;
    --background-light: #141414;
  }
}

html, body {
  background: var(--background);
  color: var(--text-fg);
  font-size: 16px;
}

blockquote {
  border-left: 3px solid var(--text-fg);
  padding-left: 16px;
  color: var(--text-quote);
  font-family: 'Overpass Mono', monospace;
  margin-bottom: 16px;
}
blockquote > p {
  padding-bottom: 0;
}

figcaption {
  font-size: 14px;
  padding: 8px 0 0 16px;
}

a {
  color: var(--text-link);
  text-decoration: underline;
}

ul {
  list-style-type: square;
  margin-bottom: 16px;
  padding-left: 16px;
}
ol {
  list-style-type: number;
  padding-left: 16px;
}

h1 > a, h2 > a, h3 > a {
  color: var(--text-fg);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 24px;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 24px;
}

[aria-hidden] {
  display: none;
}

pre, code {
  max-width: 100vw;
  font-size: 0.8rem;
}

*:target {
  background: var(--background-light);
  color:var(--text-highlight);
}
